<style>
    {%- assign color = section.settings.color -%}
    .customstyle{{ section.id }}{
        --color-body-text: {{ color }};
        --g-color-heading: {{ color }};
        --g-font-color-subtop: {{ color }};
        --color-body-text-rgb : {{ color.red }}, {{ color.green }}, {{ color.blue }};
    }
    .stacktextimg-img{
      width: var(--w-image);
      height:var(--h-image);
      border-radius: var(--r-image);
      vertical-align: middle;
    }
    .stacktextimg-img img{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0 !important;
    }
    .stacktextimg .btn svg{
      width: 14px;
      height: 14px;
    }
</style>
<div class="customstyle{{ section.id }} stacktextimg" data-aos="{{ section.settings.animation }}" >
  {%- render 'style-section' -%}
  <div class="{{ section.settings.setwidth }}">
    <div class="section-block">
      {%- render 'section-heading' -%}
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="{{ section.settings.size_text }} text-center ">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'text' -%}
                {%- if block.settings.block_text != blank -%}
                    {{- block.settings.block_text -}}
                {%- endif -%}
              {%- when 'image' -%}
                {%- if block.settings.image != blank -%}
                {%- assign widths = '198, 432, 642, 900' -%}
                {%- capture sizes -%}
                  (min-width: {{ settings.container }}px) {{ settings.container | minus: 100 | divided_by: 1.6667 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
                {%- endcapture -%}
                <div class="position-relative overflow-hidden stacktextimg-img d-inline-block mx-3" style="--r-image:{{ block.settings.r_image | append: 'px' }};--w-image:{{ block.settings.w_image | append: 'px' }};--h-image:{{ block.settings.h_image | append: 'px' }}; "  data-aos="{{ section.settings.animation }}"  data-aos-delay="{{ forloop.index | times: 100 }}">
                  <div class="stacktextimg-img__in" style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;">
                    {{-
                    block.settings.image
                    | image_url: width: 1500
                    | image_tag: sizes: sizes, widths: widths, fetchpriority: 'auto', class: 'lazyload scale-in'
                  -}}
                  </div>
                </div>
              {%- else -%}
              <div class="d-inline-block position-relative overflow-hidden stacktextimg-img mx-3" style="--r-image:{{ block.settings.r_image | append: 'px' }};--w-image:{{ block.settings.w_image | append: 'px' }};--h-image:{{ block.settings.h_image | append: 'px' }}; ">
                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {%- endif -%}
              {%- when 'button' -%}
                {%- if block.settings.button_text != blank -%}
                  <div class="d-inline-block px-3"  data-aos="{{ section.settings.animation }}"  data-aos-delay="{{ forloop.index | times: 100 }}">
                    <a class="btn {{ block.settings.style_btn }}" href="{{ block.settings.button_link }}"> {{ block.settings.button_text }} <svg aria-hidden="true" focusable="false" role="presentation" width="33" height="34" viewBox="0 0 33 34" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M1 1.5h31m0 0v31m0-31-31 31" opacity=".7"></path>
                  </svg></a>
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% schema %}
{
  "name": "Stack Text Image",
  "settings": [
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "fade-up",
          "label": "Fade Up"
        },
        {
          "value": "fade-down",
          "label": "Fade Down"
        },
        {
          "value": "fade-left",
          "label": "Fade Left"
        },
        {
          "value": "fade-right",
          "label": "Fade Right"
        },
        {
          "value": "fade-up-right",
          "label": "Fade Up Right"
        },
        {
          "value": "fade-up-left",
          "label": "Fade Up Left"
        },
        {
          "value": "fade-down-right",
          "label": "Fade Down Right"
        },
        {
          "value": "fade-down-left",
          "label": "Fade Down Left"
        },
        {
          "value": "flip-up",
          "label": "Flip Up"
        },
        {
          "value": "flip-down",
          "label": "Flip Down"
        },
        {
          "value": "flip-left",
          "label": "Flip Left"
        },
        {
          "value": "flip-right",
          "label": "Flip Right"
        },
        {
          "value": "slide-up",
          "label": "Slide Up"
        },
        {
          "value": "slide-down",
          "label": "Slide Down"
        },
        {
          "value": "slide-left",
          "label": "Slide Left"
        },
        {
          "value": "slide-right",
          "label": "Slide Right"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        },
        {
          "value": "zoom-in-up",
          "label": "Zoom In Up"
        },
        {
          "value": "zoom-in-down",
          "label": "Zoom In Down"
        },
        {
          "value": "zoom-in-left",
          "label": "Zoom In Left"
        },
        {
          "value": "zoom-in-right",
          "label": "Zoom In Right"
        },
        {
          "value": "zoom-out",
          "label": "Zoom Out"
        },
        {
          "value": "zoom-out-up",
          "label": "Zoom Out Up"
        },
        {
          "value": "zoom-out-down",
          "label": "Zoom Out Down"
        },
        {
          "value": "zoom-out-left",
          "label": "Zoom Out Feft"
        },
        {
          "value": "zoom-out-right",
          "label": "Zoom Out Right"
        }
      ],
      "label": "Select Animation"
    },
    {
      "type": "select",
      "id": "setwidth",
      "label": "Full Width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Box"
        },
        {
          "value": "container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ]
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "bgsection",
      "label": "Background Section",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title_top",
      "label": "Sub Title Top",
      "default": "Sub Title Top"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Stack Text Image"
    },
    {
      "type": "textarea",
      "id": "des",
      "label": "HTML / Description"
    },
    {
      "type": "select",
      "id": "align-heading",
      "label": "Align Heading",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Heading Text "
    },
    {
      "type": "select",
      "id": "size_text",
      "default": "h3",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ],
      "label": "Heading Size"
    },
    {
      "type": "header",
      "content": "Section Padding "
    },
    {
      "type": "text",
      "id": "paddingsection",
      "label": "Padding Section",
      "default": "0px 0px 0px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "paddingmobile",
      "label": "Padding Section Mobile",
      "default": "40px 0px 40px 0px",
      "info": "Padding: Top Right Bottom Left"
    },
    {
      "type": "header",
      "content": "Section Margin "
    },
    {
      "type": "text",
      "id": "marginsection",
      "label": "Margin Section",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "marginmobile",
      "label": "Margin Mobile",
      "default": "0px 0px 0px 0px",
      "info": "Margin: Top Right Bottom Left"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "block_text",
          "label": "Text",
          "default": "Text"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link to"
        },
        {
          "type": "select",
          "id": "style_btn",
          "label": "Style Button",
          "default": "btn-underline",
          "options": [
            {
              "value": "btn-theme",
              "label": "Button Box"
            },
            {
              "value": "btn-theme btn-white",
              "label": "Button Box White"
            },
            {
              "value": "btn-underline",
              "label": "Button Line"
            },
            {
              "value": "btn-underline btn-underline-white",
              "label": "Button Line White"
            },
            {
              "value": "btn-outline",
              "label": "Button Outline"
            },
            {
              "value": "btn-outline btn-outline-white",
              "label": "Button Outline White"
            }
          ]
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "w_image",
          "label": "Width Image",
          "min": 50,
          "max": 200,
          "step": 2,
          "unit": "px",
          "default": 100
        },
        {
          "type": "range",
          "id": "h_image",
          "label": "Height Image",
          "min": 50,
          "max": 200,
          "step": 2,
          "unit": "px",
          "default": 100
        },
        {
          "type": "range",
          "id": "r_image",
          "label": "Radius Image",
          "min": 0,
          "max": 200,
          "step": 2,
          "unit": "px",
          "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Stack Text Image",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "image"
        },
        {
          "type": "button"
        },
        {
          "type": "text"
        },
        {
          "type": "image"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}